/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%; /* Adjust as necessary */
  margin: 0 auto; /* Centers the table horizontally */
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

nav {
  background-color: #f2f2f2;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav ul li a:hover {
  color: blue;
}

nav ul li a.active {
  color: red;
}
